:root {
    --background-color: #f0f8ff;
    --button-color: #a8dadc;
    --button-hover-color: #457b9d;
    --text-color: #1d3557;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
.counter-value {
    transition: transform 0.1s ease-in-out;
}

.counter-value:hover {
    transform: scale(1.1); /* Small zoom effect */
}
